.cardContenedora{
    width: 550px;
    padding: 10px;
    margin: 30px;
    font-size: 15px;
    background-color: rgb(242, 165, 165); 
    border: 8px solid #000000;
    border-radius: 10px;
}

.tituloProducto {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 25px;
    background-color:gray;
}

.imagenProducto {
    width: 400px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.precioProducto {
    display: flex;
    justify-content: space-around;
}

