.cardContenedora{
    width: 480px;
    height: 490px;
    padding: 10px;
    margin-bottom: 35px;
    font-size: 15px;
    background-color: white; 
    border: 6px solid rgb(148, 251, 251);
    border-radius: 10px;
}

.tituloProducto {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.imagenProducto {
    width: 400px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px; 

}

.priceProducto {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}
