.contenedorLogo{
    padding: 12px;
    background: #d68fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-size: 20px ;
    text-decoration: none;
    color: black;
    outline: inherit;
}

.logo{
   margin-right: 10px;
   width: 70px;
}