.greenClass{
    position: absolute;
    top: 150px;
    right: 10px;
    color: white;
    width: auto;
    height: auto;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    background-color: green;
}

.redClass {
    position: absolute;
    top: 150px;
    right: 10px;
    color: white;
    width: auto;
    height: auto;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    background-color: red;
}