.navNavbar{
    display: flex;
   /*  flex-direction: column; */
   justify-content: center;
   align-items: center;
   background-color: gray; 
    /* margin: 5px; */
    padding: 15px;
    
}

.tituloNavBar{
    display: flex;
    margin: 30px;
   color: black;
   text-decoration: none;
   /* pointer-events: none; */

}

.contenedorBotones{
    margin: 30px;
}

.botonZapatillas{
    margin: 5px;
}