.CardCartItem {
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 20px;
    margin: 30px;
    font-size: 10px;
    background-color:#282c34;
    color: white;
    border: 3px solid  rgb(148, 251, 251);
    border-radius: 10px;
}

.ContainerItemCartItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.InfoCartItem {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    margin-left: 35px;
}

.ItemFooterCartItem {
    display: flex;
}

.ButtonCartItem {
    padding: 15px;
    font-size: 12px;
    background: rgb(148, 251, 251);
    border-radius: 15px;
    align-self: center;
    color: black;
    border-style: none;
    cursor: pointer;
}

